@model IEnumerable<ProyectoEcommerce.Models.Entidades.Producto>
@{
    ViewData["Title"] = "Lista";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <style>
        .table td .truncate-description {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Ajusta este valor según el espacio disponible */
        }

        .table td .truncate-description.expanded {
            white-space: normal;
        }

        .show-more {
            color: blue;
            cursor: pointer;
        }
    </style>
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Ok!!---</strong>@TempData["AlertMessage"]
    </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Productos", new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Agregar un libro</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Lista de Libros</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="producto" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Inventario</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>
                                    <span class="truncate-description">@Html.DisplayFor(modelItem => item.Descripcion)</span>
                                    <span class="show-more">Ver más</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Categoria.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                <td>@Html.DisplayFor(modelItem => item.Inventario)</td>
                                <td>
                                    <img src="@item.URLFoto" width="100" height="100" class="img-fluid" />
                                </td>
                                <td>
                                    <a onclick="return false;" class="btn btn-outline-warning btn-sm">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <button onclick="return false;" class="btn btn-outline-danger btn-sm deleteItem">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {
    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#producto').DataTable({
                ordering: false, // Deshabilita el ordenamiento
                responsive: true,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                searching: true // Muestra el cuadro de búsqueda
            });

            // Enlaza el evento 'click' para '.show-more' en el evento 'draw' de DataTables
            $('#producto').on('draw.dt', function () {
                $('.show-more').off('click').on('click', function () {
                    $(this).siblings('.truncate-description').toggleClass('expanded');
                    $(this).text($(this).text() === 'Ver más' ? 'Ver menos' : 'Ver más');
                });
            });

            // Llama al evento 'draw' al cargar por primera vez
            table.draw();

            // Deshabilitar funcionalidad de eliminación y edición
            $('.deleteItem, .btn-outline-warning').on('click', function (event) {
                event.preventDefault(); // Previene la acción por defecto
                event.stopPropagation(); // Detiene la propagación del evento
                return false; // Previene cualquier otra acción
            });
        });
    </script>
}
