@model ProyectoEcommerce.Models.Entidades.Venta

@{
    ViewData["Title"] = "Detalles";
}

<!--AQUI ESTA EN LOS DETALLES DE PEDIDO DE DETALLES DE UN PEDIDO DE USUARIO-->
<h4 style="color: white;">Pedido</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2" style="color: yellow;">
        @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Fecha)
    </dd>
    <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.Usuario.Nombre)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Usuario.Nombre)
    </dd>
    <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.Usuario.Email)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Usuario.Email)
    </dd>
    <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.Comentario)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Comentario)
    </dd>
    <!--DE AQUI SE ELIMINA EL ESTADO DEL PEDIDO-->
@*     <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.EstadoPedido)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.EstadoPedido)
    </dd> *@
    <!--HASTA AQUI-->

    <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.Cantidad)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Cantidad)
    </dd>
    <dt class="col-sm-2" style="color: white;">
        @Html.DisplayNameFor(model => model.Total)
    </dt>
    <dd class="col-sm-10" style="color: white;">
        @Html.DisplayFor(model => model.Total)
    </dd>
</dl>

<h4 style="color: white;">Detalles</h4>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Productos</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DetallesVenta.FirstOrDefault().Producto.Nombre)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.DetallesVenta.FirstOrDefault().Producto.Precio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DetallesVenta.FirstOrDefault().Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DetallesVenta.FirstOrDefault().Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DetallesVenta.FirstOrDefault().Producto.URLFoto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DetallesVenta)

                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    <div class="zoom">
                                        <img src="@item.Producto.URLFoto" style="width:100px;" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
}




