@model ProyectoEcommerce.Models.CarritoViewModel

@{
    ViewData["Title"] = "Carrito";
    Layout = "_Layout"; ;
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<div class="row mb-4 justify-content-center">
    <div class="col-12">
        <div class="card w-100">
            <div class="card-header bg-primary text-white text-center">
                <h4>Resumen de Pedido</h4>
            </div>
            <div class="card-body text-center">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h5>@Html.DisplayNameFor(model => model.Cantidad)</h5>
                        <h3>@Html.DisplayFor(model => model.Cantidad)</h3>
                    </div>
                    <div class="col-6">
                        <h5>@Html.DisplayNameFor(model => model.Total)</h5>
                        <h3>@Html.DisplayFor(model => model.Total)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-secondary text-white text-center">
                <h4>Comentario del Pedido</h4>
            </div>
            <div class="card-body">
                <form asp-action="VerCarrito">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                    <div class="form-group">
                        <textarea asp-for="Comentario" class="form-control" placeholder="Escribe tu comentario aquí..."></textarea>
                        <span asp-validation-for="Comentario" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <input type="submit" value="Confirmar Pedido" class="btn btn-outline-primary btn-lg px-4" />
                        <a asp-action="Index" class="btn btn-outline-success btn-lg px-4 ml-2">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <h3>Carro de Compras</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">Imagen</th>
                            <th class="text-center align-middle">Producto</th>
                            <th class="text-center align-middle">Precio Unitario</th>
                            <th></th>
                            <th class="text-center align-middle">Cantidad</th>
                            <th></th>
                            <th class="text-center align-middle">Subtotal</th>
                            <th class="text-center align-middle">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VentasTemporales)
                        {
                            <tr>
                                <td class="text-center align-middle">
                                    <div class="zoom">
                                        <img src="@item.Producto.URLFoto" style="width:100px;" alt="Imagen de producto" />
                                    </div>
                                </td>
                                <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                                <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Producto.Precio)</td>
                                <td class="text-center align-middle">
                                    @*originaldisminuir
                                    REQUERIMIENTO DE LA SEMANA 8 *@
                                    <a onclick="showInPopup('@Url.Action("DisminuirCantidad", "Home", new { id = item.Id }, Context.Request.Scheme)' , '')" class="btn btn-outline-danger">-</a> 
                                    @*<a class="btn btn-outline-danger">-</a> <!-- Botón sin funcionalidad -->*@
                                </td>
                                <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                <td class="text-center align-middle">
                                    @* REQUERIMIENTO DE LA SEMANA 8 *@
                                    <a onclick="showInPopup('@Url.Action("IncrementarCantidad", "Home", new { id = item.Id }, Context.Request.Scheme)' , '')" class="btn btn-outline-success">+</a> 
                                    <a class="btn btn-outline-success">+</a> <!-- Botón sin funcionalidad -->
                                </td>
                                <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Total)</td>
                                <td class="text-center align-middle">
                                    @* originaleliminar *@
                                    <a onclick="showInPopup('@Url.Action("Eliminar", "Home", new { id = item.Id }, Context.Request.Scheme)' , '')" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
            });
        });
    </script>
}
