@model IEnumerable<ProyectoEcommerce.Models.Entidades.Usuario>
@{
    ViewData["Title"] = "Lista";
}



@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

}

@if (TempData["ALertMessage"] != null)
{
    <div class=" alert alert-success">
        <strong> Ok!!---</strong>@TempData["AlertMessage"]
    </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Usuarios", new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle fa-beat"></i> Agregar un administrador</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <h5>Lista de Usuarios</h5>
        </div>
        <div class=" card-body">
            <table id="usuario" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Foto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                            <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td> @Html.DisplayFor(modelItem => item.TipoUsuario)</td>
                            <td>
                                <img src="@item.URLFoto" style="width: 100px; height: 100px; border-radius: 50%;">
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>



    <script>
        $(document).ready(function () {
            $('#usuario').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },

                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Usuarios/Eliminar/', false);
    </script>
}
